<div class="ExpAddContainer gx-0 gy-0 d-flex flex-column col-12">
    <div class="closeButton">
      <button class="rounded" (click)="closeModalEduUpd()">X</button>
    </div>
    <div>
      <h2>
        Carga tu experiencia
      </h2>
    </div>
    <form #f="ngForm" (ngSubmit)="updEdu()" novalidate>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="tittle" name="tittle" [(ngModel)]="eduUp.tittle" required placeholder="Ej: Operario/Asistente.."/>
          <label for="tittle">Titulo</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="instituteName" name="instituteName" [(ngModel)]="eduUp.instituteName" required placeholder=""> 
          <label for="instituteName">Nombre de la Institucion</label>
        </div>
        <div class="form-floating">
          <input type="file" class="form-control" id="instituteLogo" name="instituteLogo" [(ngModel)]="eduUp.instituteLogo" required placeholder="">
          <label for="instituteLogo">Logo de la Institucion</label>
        </div>
        <div class="form-floating">
          <input type="file" class="form-control" id="instituteCertification" name="instituteCertification" [(ngModel)]="eduUp.instituteCertification" required placeholder="">
          <label for="instituteCertification">Certificado obtenido</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" id="startActivityDate" name="startActivityDate" [(ngModel)]="eduUp.startActivityDate" required placeholder="">
          <label for="startActivityDate">Fecha de inicio</label>
        </div>
        <div class="form-floating">
          <input type="date" class="form-control" id="endActivityDate" name="endActivityDate" [(ngModel)]="eduUp.endActivityDate" required placeholder="">
          <label for="endActivityDate">Fecha de conclución</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="descriptionOptional" name="descriptionOptional" [(ngModel)]="eduUp.descriptionOptional" required placeholder="">
          <label for="descriptionOptional">descripción Opcional</label>
        </div>
        <!-- <div class="">
          <p>Forgot password</p>
        </div> -->
        <div class="">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>

    
  </div>