<section>

    <!-- foto de perfil
    nombre
    titulo: Full Stack.
    Developer Jr.
    información.
    profesional resumida.-->

    <section class="about">
        <div>
            <button type="button" class="botones" (click)="openModalAbt()" *ngIf="(isLogged && admin)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
            </button>
        </div>
        <div class="modalAddExp d-flex" *ngIf="modalAbt === true">
            <app-about-model class="row gx-0 gy-0"></app-about-model>
        </div>

        <!-- <div class="row justify-content-around">
            <div class="col-11 user-image-container">
                <img src="https://media.vandalsports.com/i/1508x1508/9-2022/2022959450_1.jpg" class="user-image rounded-circle" alt="Foto de perfil">
            </div>
        </div> -->
        <!-- <div class="row ">
            <div class="user-image-container">
                <img src="https://media.vandalsports.com/i/1508x1508/9-2022/2022959450_1.jpg" class="user-image rounded-circle" alt="Foto de perfil">
            </div>
        </div> -->

        <div class="container-fluid text-center">
            <div class="">
                <div class="container userContainer d-xxl-none col-md-3 ">
                    <img src="../../../assets/images/20220514_172412.jpg"
                        class="user-image " alt="Foto de perfil">
                </div>
                <div class="container d-flex justify-content-evenly">
                    <h3 class="">{{person.name}}</h3>
                    <h3 class="">{{person.lastName}}</h3>
                </div>
                <div class="row">
                        <div class="tittle">
                            <h3>{{about[0].tittleAbout}}</h3>
                        </div>
                        <div class="personal-information">
                            <h4>{{about[0].descriptionAbout}}</h4>
                        </div>
                </div>
            </div>
            <div class="d-flex justify-content-evenly m-2 " *ngIf="(isLogged && admin)">
                <button type="button" (click)="openModalAboutUpd(about[0].id)" routerLink="/updAbt/{{about[0].id}}"
                    class="rounded bg-transparent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#515aea"
                        class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg>
                </button>
                <div class="modalAddExp d-flex" *ngIf="modalAbouUp === true">
                    <app-update-about class="row gx-0 gy-0"></app-update-about>
                </div>
                <button type="button" (click)="deleteAbout(about[0].id)" class="rounded bg-transparent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#d32e2c"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </section>
</section>